.structure {
  width: 50%;
  max-height: 950px;
  overflow-y: scroll;
  padding: 0.88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

.userPlaylist {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .structure {
    width: 90%;
    margin-bottom: 2rem;
  }
}

.playlist {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.playlist-action:hover {
  color: rgba(265, 265, 265, 0.5);
}

.playlist-information {
  display: contents;

  height: 72px;
}

.playlist-information h3 {
  margin-bottom: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 72px;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.content p {
  font-size: 0.83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}

.title {
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline rgba(256, 256, 256, 0.5) solid;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}
